<div *ngIf="record">
  <div>
    <label>
      Quantity:
      <input [(ngModel)]="record.quantity" placeholder="quantity"/>
    </label>

    <label>
      Comment:
      <input [(ngModel)]="record.comment" placeholder="comment"/>
    </label>

    <button (click)="saveRecord(record)">Сохранить</button>
  </div>
</div>

<div *ngIf="flag">
  <div>
    <label>
      Quantity:
      <input placeholder="quantity"/>
    </label>

    <label>
      Comment:
      <input placeholder="comment"/>
    </label>

    <button (click)="changeFlag()">Сохранить</button>
  </div>
</div>
