<app-header #sum (onUpdated)="onUpdated($event)"></app-header>
<div class="edit-form" *ngIf="openFormFlag">
  <div>
    <label>
      Quantity:
      <input
        *ngIf="editFlag"
        type="number"
        [(ngModel)]="record.quantity"
        placeholder="quantity"/>

      <input
        *ngIf="addFlag"
        [(ngModel)]="quantityField"
        type="number"
        placeholder="quantity"/>
    </label>

    <label>
      Comment:
      <input
        *ngIf="editFlag"
        type="text"
        [(ngModel)]="record.comment"
        placeholder="comment"/>

      <input
        *ngIf="addFlag"
        [(ngModel)]="commentField"
        type="text"
        placeholder="comment"/>
    </label>

    <button *ngIf="editFlag" (click)="saveRecord(record); sum.update()">Сохранить</button>
    <button *ngIf="addFlag" (click)="addNewRecord(); sum.update()">Добавить</button>
  </div>
</div>
