<app-record-edit
  [openForm]="openFormFlag"
  [addFlag]="addFlag"
  [editFlag]="editFlag"
  [record]="selectedRecord">
</app-record-edit>

<button class="add-btn" (click)="addRecord()">Добавить</button>

<table class="budget-table">
  <tr>
    <th>id</th>
    <th>quantity</th>
    <th>comment</th>
  </tr>

  <tr *ngFor="let record of records"
  [class.selected]="record === selectedRecord">
    <td (click)="onSelect(record)">{{record.id}}</td>
    <td>{{record.quantity}}</td>
    <td>{{record.comment}}</td>
  </tr>
</table>
