<h2>Budget list</h2>
<table class="budget-table">
  <tr>
    <th>id</th>
    <th>quantity</th>
    <th>comment</th>
  </tr>

  <tr *ngFor="let record of records"
  [class.selected]="record === selectedRecord">
    <td (click)="onSelect(record)">{{record.id}}</td>
    <td>{{record.quantity}}</td>
    <td>{{record.comment}}</td>
  </tr>
</table>

<!-- <button (click)="addRecord()">Добавить</button> -->

<app-record-edit [record]="selectedRecord"></app-record-edit>
<!-- <app-record-edit [flag]="addFlag"></app-record-edit> -->
