
* {
  box-sizing: border-box;
}

.budget-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 768px;
  font-family: 'LatoRegular';
  border-radius: 10px;
  margin-top: 20px;
}


.budget-table th {
  background-color: #6c7ae0;
  color: #fff;
  font-family: 'LatoBold';
  font-size: 18px;
  text-align: left;
}

.budget-table th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.budget-table th:first-of-type {
  padding-left: 20px;
  padding-right: 20px;
  width: 80px;
}

.budget-table tr td:first-of-type {
  padding-left: 20px;
  padding-right: 20px;
  width: 80px;
}

.budget-table th:nth-of-type(2) {
  padding-right: 20px;
  width: 120px;
}

.budget-table tr td:nth-of-type(2) {
  padding-right: 20px;
  width: 120px;
}

.budget-table th:nth-of-type(3) {
  padding-right: 10px;
}

.budget-table tr td:nth-of-type(3) {
  padding-right: 10px;
}

.budget-table tr:nth-of-type(2n+1) {
  background-color: #f8f6ff;
}

.budget-table td {
  color: #808080;
  padding-top: 16px;
  padding-bottom: 16px;
}

.add-btn {
  height: 48px;
  border: 2px solid #6c7ae0;
  color: #fff;
  background-color: #fff;
  color: #6c7ae0;
  text-transform: uppercase;
  font-family: 'LatoBold';
  border-radius: 4px;
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
